html,
body {
  height: 100%;
}

body {
  background-color: hsl(197, 84%, 68%);
  padding-top: 80px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.navbar {
  background: linear-gradient(
    to bottom right,
    hsl(197, 84%, 15%),
    hsl(197, 84%, 30%)
  );
  border-bottom: 4px groove hsl(197, 84%, 10%);
}

.navbar-brand span {
  margin-left: 20px;
  color: hsl(122, 82%, 40%);
  letter-spacing: 2px;
  font-family: "Aclonica", sans-serif;
  font-size: 22px;
}

.navbar-nav {
  margin: 0;
}

.nav-link {
  color: hsl(32, 100%, 50%) !important;
  font-size: 18px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: "Oswald", sans-serif;
  letter-spacing: 1.5px;
}

.nav-link:hover {
  color: hsl(0, 0%, 100%) !important;
  transform: scale(1.2);
}

.content {
  font-family: "Oswald", sans-serif;
}

#home,
#new,
#pythonvid {
  padding-top: 100px;
  color: hsl(197, 84%, 10%);
}

.buildapps {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: space-between;
}

.app {
  padding: 20px;
}

.fas {
  font-size: 200px;
  color: hsl(122, 83%, 25%);
}

.app p {
  margin-top: 20px;
}

.fas + p {
  color: hsl(342, 100%, 15%);
  font-weight: bold;
  font-size: 24px;
}

.description {
  color: hsl(197, 84%, 5%);
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

h3 {
  margin-bottom: 30px;
}

form {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: hsl(0, 0%, 0%);
  font-size: 20px;
}

input[type="email"] {
  height: 30px;
  font-size: 16px;
  text-align: left;
}

.btn {
  background: hsl(30, 100%, 50%);
  color: black;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  border-radius: 5px;
  margin-left: 10px;
}

#video {
  margin: auto;
  display: block;
  margin-bottom: 40px;
}

footer {
  width: 100%;
  background: linear-gradient(
    to bottom right,
    hsl(197, 84%, 30%),
    hsl(197, 84%, 15%)
  );
  border-top: 4px groove hsl(197, 84%, 10%);
}

footer p {
  font-family: "Aclonica", sans-serif;
  color: hsl(122, 82%, 40%);
  letter-spacing: 1px;
  margin: 10px;
}

main {
  flex: 1 0 auto;
}

@media screen and (max-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .navbar-brand span {
    letter-spacing: 1px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15px;
  }

  #header-img {
    margin-left: 3px;
  }

  .navbar-nav {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: space-between;
    flex-direction: row;
  }

  .navbar .navbar-toggler {
    border: none;
    position: absolute;
    right: 10px;
  }

  .nav-link {
    font-size: 16px;
    letter-spacing: 1px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .nav-link:hover {
    transform: scale(1);
  }

  h1 {
    font-size: 60px !important;
  }

  h2 {
    font-size: 40px !important;
  }

  .buildapps {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h3 {
    font-size: 25px !important;
  }

  #video {
    width: 295px;
    height: 250px;
  }
}
